/* PROFILE */

#page--profile {
  @extend %full-page;
  z-index : $z-profile;

  .profile-wrapper {
    width         : 100%;
    @include flex-display(column);
    padding       : 0 16px 30px 16px;
    border-bottom : 1px solid #E9E9E9;

    .personal-info-wrapper {
      width         : 100%;
      margin-top    : $top-bar-height;
      padding-top   : 30px;
      @include flex-display();
      @include vendor("align-items", "center");
      margin-bottom : 30px;

      .profile-photo {
        @include flex-static-size(60px);
        height           : 60px;
        background-color : transparent;
        @include flex-center;

        .profile-photo-ph {
          width         : 100%;
          height        : 100%;
          border-radius : 50%;
        }

        img {
          width         : 100%;
          height        : 100%;
          border-radius : 50%;
        }

      }

      .personal-info {
        width    : 100%;
        @include flex-display(column);
        padding  : 0 0 0 20px;
        overflow : hidden;

        .personal-info-ph {
          width         : 100%;
          height        : 48px;
          border-radius : 50px;
        }

        #profile-name {
          @include font(500, $font-title);
          text-overflow : ellipsis;
          white-space   : nowrap;
          overflow      : hidden;
        }

        #profile-email {
          color         : #737373;
          @include font(400, $font-body);
          text-overflow : ellipsis;
          white-space   : nowrap;
          overflow      : hidden;
        }

      }

    }

    .points-info-wrapper {
      width   : 100%;
      @include vendor("display", "flex");
      @include vendor("align-items", "center");
      @include vendor("justify-content", "space-between");
      padding : 0 16px;

      .points-ph {
        width         : 100%;
        height        : 51px;
        border-radius : 50px;
      }

      .point-info {
        @include vendor("display", "flex");
        @include vendor("flex-direction", "column");
        @include vendor("align-items", "center");
        cursor : pointer;

        .number {
          @include font(500, $font-title);
          margin-bottom : 3px;
        }

        .text {
          @include font(400, $font-body);
          color : #737373;
        }

      }

    }

  }

}


.settings-container {
  width : 100%;
  @include flex-display(column);

  & div:last-child { border : none }

  .setting {
    @include flex-display;
    width         : 100%;
    color         : $color-text;
    padding       : 20px 25px;
    border-bottom : 1px solid #E9E9E9;
    cursor        : pointer;

    .setting-icon-left,
    .setting-icon-right { @include flex-static-size($top-bar-icon-area) }

    .setting-icon-left { color : $color-main }

    .setting-content {
      @include font(500, 18px);
      @include vendor("flex", "1");
      padding-left : 10px;
    }

  }

}


#profile-photo-dialog-overlay {
  @extend %full-page;
  overflow-y : hidden;
  z-index    : 2;
  background : rgba(108, 108, 108, 0.1);

  .dialog-title { margin-bottom : 10px }

  .dialog-content {

    div { padding : 10px 0 }

  }

  .dialog-footer { margin-top : 18px }

}


#page--account-settings {
  @extend %full-page;
  z-index    : $z-account-settings;
  margin-top : $top-bar-height + 10px;
}


#page--edit-profile {

  .checkbox { padding-left : 16px }

}