/* DEFIBRILLATOR INFO LAYOUT */

$info-container-margin : 24px;

#page--info {
  @extend %full-page;
  z-index : $z-info-wrapper;

  .custom-container {
    padding-top   : 30px;
    margin-left   : $info-container-margin;
    margin-right  : $info-container-margin;
    width         : container-size($info-container-margin);
    margin-bottom : 40px;

    #info-points {
      width          : 100%;
      @include flex-center();
      @include font(400, $font-title);
      margin-bottom  : 20px;
      text-transform : uppercase;

      .info-points-ph {
        width         : 40%;
        height        : $font-title + 7px;
        border-radius : 50px;
      }

      span {
        color       : $color-main;
        font-weight : 500;
      }

    }

    #info-notes { margin-bottom : 40px }

    #info-photo { margin-bottom : 40px }

  }

}