/* DEFIBRILLATOR INFO LAYOUT */

$info-container-margin : 24px;


#page--info {
  @extend %full-page;
  z-index : $z-info-wrapper;

  .custom-container {
    padding-top   : 30px;
    margin-left   : $info-container-margin;
    margin-right  : $info-container-margin;
    width         : container-size($info-container-margin);
    margin-bottom : 40px;

    #info-notes {
      margin-bottom : 40px;
    }

    #info-photo {
      margin-bottom : 40px;
    }

  }

}