/* BUTTON */


$btn-padding-top-bottom : 15px;
$btn-border-radius : 5px;


.button {
  padding       : $btn-padding-top-bottom 0;
  border-radius : $btn-border-radius;
  cursor        : pointer;

  &.full-width-btn {
    width : 100%;
  }

  &.flex-btn {
    @include flex-center
  }

  &.full-btn {
    border     : none;
    background : $color-main;
    color      : #FFFFFF;
  }

  &.outline-btn {
    border     : 1px solid #707070;
    background : none;
    color      : $color-main;
  }

  .btn-text {
    @include font(500, $font-body);
  }

  .icon-before {
    margin-right : 8px;
  }

}

.flex-btn-ph {
  width         : 100%;
  height        : $font-body + 2 * $btn-padding-top-bottom;
  border-radius : $btn-border-radius;
}