/* INFO BLOCK */

$font-info-title : 13px;
$font-info-content : 17px;

.info-block {
  margin-bottom : 20px;

  .info-title-ph {
    width         : 25%;
    height        : $font-info-title + 5px;
    margin-bottom : 6px;
    border-radius : 50px;
  }

  .info-title {
    @include font(500, $font-info-title);
    text-transform : uppercase;
    color          : $color-main;
    margin-bottom  : 6px;
  }

  .info-content-ph {
    width         : 100%;
    height        : $font-info-content;
    border-radius : 50px;
  }

  .info-content {
    @include font(400, $font-info-content);
    color : $color-text;
  }

}