/* PHOTO PREVIEW */


$photo-thm-size : 200px;
$photo-thm-btn-size : 56px;


.photo-thm-wrapper {
  width : 100%;
  @include flex-center;

  .photo-thm-box {
    width            : $photo-thm-size;
    height           : $photo-thm-size;
    @include flex-center;
    overflow         : hidden;
    background-color : lightgray;
    border-radius    : 15px;

    .photo-thm-ph {
      width         : $photo-thm-size;
      height        : $photo-thm-size;
      border-radius : 15px;
    }

    img {
      max-width     : 300px;
      max-height    : 300px;
      position      : absolute;
      left          : -1000%;
      right         : -1000%;
      top           : -1000%;
      bottom        : -1000%;
      margin        : auto;
      border-radius : 15px;
    }
  }

  .photo-thm-btn {
    width            : $photo-thm-btn-size;
    height           : $photo-thm-btn-size;
    @include flex-center;
    cursor           : pointer;
    border-radius    : 100%;
    background-color : $color-main;
    color            : #FFFFFF;
    position         : absolute;
    top              : $photo-thm-size - 35px;
    left             : calc(50% + #{$photo-thm-size} / 2 - 35px);

    i {
      width  : 24px;
      height : 24px;
    }

  }

}