/* CHECKBOX */

.checkbox {
  @include flex-display(row);
  @include vendor("align-items", "center");

  input {
    -webkit-appearance : none;
    width              : 16px;
    height             : 16px;
    margin-left        : 26px;
    background         : white;
    border             : 1px solid #555555;
    border-radius      : 2px;

    &:focus {
      outline : none !important;
    }

    &:checked {
      background : $color-main;
      border     : none;
    }

  }

}