:root {
    --fab-size   : 52px;
    --teal-500   : #009688;
    --text-color : #454F63;
}


/*
* MAP
*/

#map {
    position : relative;
    width    : 100%;
}

.leaflet-control-attribution.leaflet-control {
    display : none;
}

.map-container {
    z-index : 1000;
}

.map-control {
    position : absolute;
    cursor   : pointer;
}

.map-fab {
    width              : var(--fab-size);
    height             : var(--fab-size);
    border-radius      : 20%;
    background         : white;
    -moz-box-shadow    : 0 12px 16px 0 rgba(69, 91, 99, 0.3);
    -webkit-box-shadow : 0 12px 16px 0 rgba(69, 91, 99, 0.3);
    box-shadow         : 0 12px 16px 0 rgba(69, 91, 99, 0.3);
}

#map-control-hint {
    top  : 16px;
    left : 0;
}

#map-control-layers {
    top   : 16px;
    right : 0;
}

#map-control-gps {
    top   : 80px; /* 16 + 12 + 52 */
    right : 0;
}

#map-new-defibrillator {
    right         : 0;
    bottom        : 16px;
    left          : 0;
    width         : 70%;
    height        : 48px;
    margin        : 0 auto;
    text-align    : center;
    color         : white;
    border-radius : 12px;
    background    : var(--teal-500);
}

#map-new-defibrillator p {
    font-size         : 15px;
    font-weight       : 700;
    position          : relative;
    top               : 50%;
    -ms-transform     : translateY(-50%);
    -webkit-transform : translateY(-50%);
    transform         : translateY(-50%);
}


.coordinates {
    position   : absolute;
    z-index    : 1000;
    bottom     : 0;
    left       : 0;
    color      : #000000;
    background : white;
}

.leaflet-control-position {
    width         : 40px;
    height        : 40px;
    text-align    : center;
    border        : 2px solid rgba(0, 0, 0, 0.2);
    border-radius : 2px;
    background    : white;
}

.leaflet-control-position i {
    font-size : 25px;
}

.blue {
    color : blue;
}