#start-page,
#main-page {
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.ui-content {
    overflow-y: hidden;
}


/*
* MAP
*/

#map {
    position: relative;
    width: 100%;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}


/*
* MODALS
*/

.modal-content {
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.modal-header {
    border: 0;
    -webkit-border-top-left-radius: .125rem;
    border-top-left-radius: .125rem;
    -webkit-border-top-right-radius: .125rem;
    border-top-right-radius: .125rem;
    background-color: #00897b;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.modal-heading {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0;
    padding: .3rem;
    color: #fff;
}

.modal-header .close {
    opacity: 1;
}

.modal-body {
    font-size: 14pt;
    padding: 1.5rem;
    color: #616161;
}

.modal-body p {
    font-size: 15pt;
}

.modal-question {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}

.modal-question .form-check {
    margin-bottom: 0.7em;
}

.form-control:focus {
    border-color: #26a69a;
    box-shadow: 0 0 0 0.2rem rgba(0, 89, 77, 0.35);
}


.slider.slider-horizontal {
    width: 80%;
    margin-left: 9%;
}

.slider-handle {
    background-color: #00796b;
    background-image: -webkit-linear-gradient(top, #00796b 0, #00897b 100%);
    background-image: -o-linear-gradient(top, #00796b 0, #00897b 100%);
    background-image: linear-gradient(to bottom, #00796b 0, #00897b 100%);
}

.slider-tick.in-selection {
    background-image: -webkit-linear-gradient(top, #4db6ac 0, #26a69a 100%);
    background-image: -o-linear-gradient(top, #4db6ac 0, #26a69a 100%);
    background-image: linear-gradient(to bottom, #4db6ac 0, #26a69a 100%);
}

.slider-selection.tick-slider-selection {
    background-image: -webkit-linear-gradient(top, #4db6ac 0, #26a69a 100%);
    background-image: -o-linear-gradient(top, #4db6ac 0, #26a69a 100%);
    background-image: linear-gradient(to bottom, #4db6ac 0, #26a69a 100%);
}


/* Photo */

.photo-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
}

.photo-icon {
    font-size: 4rem;
    color: #92b0b3;
}

#photo-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#photo-input + label {
    cursor: pointer;
}

.photo-upload-content {
    display: none;
    text-align: center;
}

.photo-upload-preview {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}


/* Footer */

.modal-footer .btn {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: .375rem;
    padding: .6rem 2.14rem;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
    white-space: normal;
    text-transform: uppercase;
    word-wrap: break-word;
    color: #fff;
    border: 0;
    -webkit-border-radius: .125rem;
    border-radius: .125rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

.modal-footer .btn:hover {
    outline: 0;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
}

.modal-footer .btn-modal-outline {
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: #26a69a !important;
    border: 2px solid #26a69a !important;
    background-color: transparent !important;
}

.modal-footer .btn-modal-full {
    color: white;
    background-color: #26a69a !important;
}


/* User modal */

.user-modal-selector {
    margin-bottom: .7rem;
}

#terms-link {
    color: #26a69a;
    text-decoration: none;
    cursor: pointer;
}

#terms-link:hover {
    text-decoration: underline;
}

.terms-list {
    padding-inline-start: 25px;
    margin-bottom: 0;
}

.terms-list li {
    margin-bottom: .2rem;
}


.coordinates {
    position: absolute;
    left: 0;
    bottom: 0;
    background: white;
    color: #000;
    z-index: 1000;
}

.leaflet-control-position {
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    border-radius: 2px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.leaflet-control-position i {
    font-size: 25px;
}

.blue {
    color: blue;
}