* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'Nunito', sans-serif !important;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
}

input[type="radio"] {
    margin: 2px;
    vertical-align: middle;
}

#start-page,
#main-page {
    display: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.ui-content {
    overflow-y: hidden;
}

#map {
    width: 100%;
    position: relative;
}

#btn-legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0;
    border: 3px solid rgb(51, 136, 204);
    line-height: 0.5;
    z-index: 1010;
    cursor: pointer;
}

#btn-legend:hover {
    border: 3px solid rgb(41, 108, 163);
}

#legend {
    position: absolute;
    color: #555;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    padding: 3px;
    top: 48px;
    right: 10px;
    text-shadow: none;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    cursor: auto;
}

.legend-label {
    padding: 0 5px;
}

.legend-radio-label {
    display: inline !important;
}

#btn-insert {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: auto;
    z-index: 999;
    border: 1px solid black;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}